doctype html
html(lang='en')
  head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#')
    meta(charset='utf-8')
  body
    include ./_svg-mixin
    +svg('chat')
    +svg('mouse', true)
    +svg('plus_one', true, 'graphic')